
@{
    ViewBag.Title = "agregar_pedido";
}
<div class="contenedor_pedido">
    <div class="contenedor_pedido">
        <div class="tarjeta">
            <h2>PRODUCTO</h2>
        </div>

    </div>
    <div class="total_pedido">

    </div>
</div>

