
@{
    ViewBag.Title = "agregar_pedido";
}
    <link href="~/Content/estilo1.css" rel="stylesheet" type="text/css">
<div class="contenedor_pedido">
    <div class="contenido">
        <div class="tarjeta">
            <h3>Aros de Cebolla</h3>
            <img class="foto_producto" src="~/Content/img/aros_cebolla.png" alt="aros">
            <div class="cantidad">
                <button>-</button>
                <h3>0</h3>
                <button>+</button>
            </div>
        </div>

        <div class="tarjeta">
            <h3>Bebida Botella</h3>
            <img class="foto_producto" src="~/Content/img/bebida_botella.png" alt="">
            <div class="cantidad">
                <button>-</button>
                <h3>0</h3>
                <button>+</button>
            </div>
        </div>

        <div class="tarjeta">
            <h3>Burrito</h3>
            <img class="foto_producto" src="~/Content/img/burrito.png" alt="">
            <div class="cantidad">
                <button>-</button>
                <h3>0</h3>
                <button>+</button>
            </div>
        </div>

        <div class="tarjeta">
            <h3>Cafe</h3>
            <img class="foto_producto" src="~/Content/img/cafe.png" alt="">
            <div class="cantidad">
                <button>-</button>
                <h3>0</h3>
                <button>+</button>
            </div>
        </div>

        <div class="tarjeta">
            <h3>Churros</h3>
            <img class="foto_producto" src="~/Content/img/churros.png" alt="">
            <div class="cantidad">
                <button>-</button>
                <h3>0</h3>
                <button>+</button>
            </div>
        </div>

        <div class="tarjeta">
            <h3>Completo</h3>
            <img class="foto_producto" src="~/Content/img/completo.png" alt="">
            <div class="cantidad">
                <button>-</button>
                <h3>0</h3>
                <button>+</button>
            </div>
        </div>

        <div class="tarjeta">
            <h3>Costillar</h3>
            <img class="foto_producto" src="~/Content/img/costillar.png" alt="">
            <div class="cantidad">
                <button>-</button>
                <h3>0</h3>
                <button>+</button>
            </div>
        </div>

        <div class="tarjeta">
            <h3>Cubo Pollo</h3>
            <img class="foto_producto" src="~/Content/img/cubo_pollo.png" alt="">
            <div class="cantidad">
                <button>-</button>
                <h3>0</h3>
                <button>+</button>
            </div>
        </div>

        <div class="tarjeta">
            <h3>Fajita</h3>
            <img class="foto_producto" src="~/Content/img/fajita.png" alt="">
            <div class="cantidad">
                <button>-</button>
                <h3>0</h3>
                <button>+</button>
            </div>
        </div>

        <div class="tarjeta">
            <h3>Hamburguesa</h3>
            <img class="foto_producto" src="~/Content/img/hamburguesa.png" alt="">
            <div class="cantidad">
                <button>-</button>
                <h3>0</h3>
                <button>+</button>
            </div>
        </div>

        <div class="tarjeta">
            <h3>Hamb. Queso</h3>
            <img class="foto_producto" src="~/Content/img/hamburguesa_queso.png" alt="">
            <div class="cantidad">
                <button>-</button>
                <h3>0</h3>
                <button>+</button>
            </div>
        </div>
        <div class="tarjeta">
            <h3>Huevo Jamón</h3>
            <img class="foto_producto" src="~/Content/img/huevo_jamon.png" alt="">
            <div class="cantidad">
                <button>-</button>
                <h3>0</h3>
                <button>+</button>
            </div>
        </div>

        <div class="tarjeta">
            <h3>Longaniza</h3>
            <img class="foto_producto" src="~/Content/img/longaniza.png" alt="">
            <div class="cantidad">
                <button>-</button>
                <h3>0</h3>
                <button>+</button>
            </div>
        </div>

        <div class="tarjeta">
            <h3>Nuggets</h3>
            <img class="foto_producto" src="~/Content/img/nuggets.png" alt="">
            <div class="cantidad">
                <button>-</button>
                <h3>0</h3>
                <button>+</button>
            </div>
        </div>

        <div class="tarjeta">
            <h3>Papas Fritas</h3>
            <img class="foto_producto" src="~/Content/img/papas_fritas.png" alt="">
            <div class="cantidad">
                <button>-</button>
                <h3>0</h3>
                <button>+</button>
            </div>
        </div>

        <div class="tarjeta">
            <h3>Pizza Familiar</h3>
            <img class="foto_producto" src="~/Content/img/pizza_familiar.png" alt="">
            <div class="cantidad">
                <button>-</button>
                <h3>0</h3>
                <button>+</button>
            </div>
        </div>

        <div class="tarjeta">
            <h3>Presa Pollo</h3>
            <img class="foto_producto" src="~/Content/img/presa_pollo.png" alt="">
            <div class="cantidad">
                <button>-</button>
                <h3>0</h3>
                <button>+</button>
            </div>
        </div>

        <div class="tarjeta">
            <h3>Trozo Pizza</h3>
            <img class="foto_producto" src="~/Content/img/trozo_pizza.png" alt="">
            <div class="cantidad">
                <button>-</button>
                <h3>0</h3>
                <button>+</button>
            </div>
        </div>


    </div>
    <div class="total_pedido">
        <h1>Vendedor</h1>
        <br />
        <h4>Producto :  valor</h4>
        <br />
        <h4>Producto :  valor</h4>
        <br />
        <h4>Producto :  valor</h4>
        <br />
        <h4>Producto :  valor</h4>
        <br />
        <h4>Producto :  valor</h4>
        <br />
        <h1>Total: total</h1>
    </div>
</div>

