@{
    ViewBag.Title = "Log-in";
}
    <link href="~/Content/login.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap" rel="stylesheet">
    <div class="contenedor">
        <img class="logo" src="~/Content/img/logo.png" alt="logo">
        <div class="tarjeta">
            <form>
                <h3>LOG-IN</h3>
                <label for="rut">RUT: </label>
                <input type="text" name="rut" placeholder="11111111-1" required/>
                <label for="clave">CLAVE: </label>
                <input type="password" name="clave" placeholder="clave" required/>
                <input class="boton" type="submit" name="entrar" value="ENTRAR" />
            </form>
        </div>
    </div>

