@{
    ViewBag.Title = "Log-in";
}
    <link href="~/Content/login.css" rel="stylesheet" type="text/css">
    <div class="contenedor">
        <img class="logo" src="~/Content/img/logo.png" alt="logo">
        <div class="tarjeta">
            <form>
                <input type="text" name="nombre" />
                <input type="text" name="clave" />
            </form>
        </div>
    </div>

