body {
    background-color: #303030;
}
h3{
    color:white;
}
.contenedor_pedido{
    display:flex;
    flex-direction:row;
}
.contenido {
    width: 80%;
    background-color: #303030;
    padding: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.total_pedido{
    position: fixed;
    right:5%;
    float:right;
    padding:20px;
    width:20%;
    background-color:aliceblue;
    text-align:left;
    border-radius:30px;
}
.tarjeta {
    margin: 20px;
    align-items: center;
    text-align: center;
    background-color: #303030;
    width: 200px;
    height: 310px;
    border-radius: 20px;
    box-shadow: 5px 5px 10px #0A0A0A, -5px -5px 10px #8E8E8E;
}
    .tarjeta:hover {
        background-color: #121212;
        transition: all 0.3s ease;
    }
.foto_producto{
    width:150px;
    height:150px;
}
.cantidad {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.boton_pedido {
    width: 100%;
    height: 40px;
    color: white;
    background-color: #EA3606;
    border:hidden;
}
button{
    height:30px;
    width:20%;
}
.menu {
    background-color: #FFE000;
    text-decoration: none;
    height: 50px;
}
    .menu ul {
        padding: 0px;
    }
        .menu ul li {
            display: inline;
        }
            .menu ul li a {
                float: right;
                padding: 15px;
                color: #303030;
            }